{% extends "layout.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='summarise.js') }}"></script>
    {{ super() }}
{% endblock%}
{% block nav_summ %}active{% endblock %} 
{% block content %}
<div class="row">
    <div class="col px-3 py-3">
        <h1 class="display-4">Text Summarizer</h1>
        <p class="lead">Please fill in your text on the left and press the summarize button. You summarized text will
            appear on the right</p>
    </div>
</div>

<div>
    <form name="summaryform">
        <div class="row">
            <div class="form-group col">
                <label for="originaltext">Text to be summarized</label>
                <textarea class="form-control" id="originaltext" rows="20"
                    name="originaltext"></textarea>
            </div>
            <div class="form-group col">
                <label for="summarizedtext">Result</label>
                <textarea class="form-control-plaintext" id="summarizedtext" rows="20"
                    name="summarizedtext"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="percslider">Required length of result (in %)</label>
                <input type="range" min="0" max="100" value="30" class="slider" id="percslider" ,
                    name="percslider">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Summarize</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}
